<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
  rel="stylesheet"
  integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"
/>

<link href="/assets/styles/style.css" rel="stylesheet" />
