@import 'variables';

.single-work {
  padding: $content-padding;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  .breadcrumb {
    color: $dark;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
  }

  .blurb {
    font-size: 13px;
    color: $dim;
    text-align: center;
  }

  .gallery {
    &-item {
      width: calc(100vw - #{2 * $content-padding});
      max-width: calc(500px - #{2 * $content-padding});
      height: 300px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
