// Colors
$light: #ffffff;
$dark: #333333;
$dim: #989898;
$primary: #008ecc;

$background-color: $light;
$background-color-contrast: $dark;

$text-color: $dark;
$text-color-primary: $primary;
$text-color-dim: $dim;
$text-color-contrast: $light;

// Heights
$header-height-mobile: 73px;
