// Colors
$light: #ffffff;
$dark: #333333;
$dim: #989898;
$primary: #008ecc;

$background-color: $light;
$background-color-contrast: $dark;

$text-color: $dark;
$text-color-primary: $primary;
$text-color-dim: $dim;
$text-color-contrast: $light;

// Heights
$header-height-mobile: 73px;
$footer-height-mobile: 20px;
$button-height-mobile: 44px;

// Fonts
$splash-font-size: 36px;
$splash-subtitle-font-size: 18px;

// Shadow
$shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

// Buttons
$button-padding-vertical: 12px;
$button-border-width: 2px;
