@import 'variables';
.work {
  .work-items {
    display: flex;
    flex-direction: column;
    padding: $content-padding;
    align-items: center;
    & > a {
      text-decoration: none;
    }
  }
  .work-item {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 420px;
    cursor: pointer;
    color: initial;
    &-content {
      flex: 1;
    }
    &-image {
      flex: 0;
    }
    &-icon {
      text-align: right;
      width: 100%;
    }
    h2 {
      font-size: 20px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      color: $dim;
    }
    img {
      width: 120px;
      height: 120px;
    }
  }
}
