@import 'variables';

.btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  border: $button-border-width solid white;
  transition: 0.2s ease all;
  padding-top: $button-padding-vertical;
  padding-bottom: $button-padding-vertical;
  padding-left: 12px;
  padding-right: 12px;
  &:hover,
  &:active {
    border-bottom-width: $button-border-width;
    border-bottom-style: solid;
    border-bottom-color: $dark;
    padding-bottom: $button-padding-vertical + 5px;
    padding-top: $button-padding-vertical - 5px;
  }
  &-primary {
    color: $primary;
    &:hover {
      border-bottom-color: $primary;
    }
  }
}
