@import 'variables';
@import 'mixins/raise';

.btn {
  @include raise;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  &-primary {
    color: $primary;
    @include raise($primary);
  }
}
